.image__navbar{
    /* background-color: aqua; */
    background-image: url(https://wallpaperaccess.com/full/1386401.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-stroke: 2px rgb(247, 234, 234); /* width and color */
    font-size: 22px;
    font-family:cursive;
    height: 400px;
    /* color: blue; */
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar__center{
    /* width:33%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}